<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.lyz.controller" />

    <!--过滤静态资源-->
    <mvc:default-servlet-handler />

    <!--自动配置并注入handlerMapping 和 handleAdapter-->
    <mvc:annotation-driven >
        <!--json乱码问题配置-->
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
                        <property name="failOnEmptyBeans" value="false"/>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

   <!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="internalResourceViewResolver">
        &lt;!&ndash;前缀&ndash;&gt;
        <property name="prefix" value="/WEB-INF/jsp/"/>
        &lt;!&ndash;后缀&ndash;&gt;
        <property name="suffix" value=".jsp"/>
    </bean>-->


    <!-- 定义BeanNameViewResolver 可以用来提供自定义view输出，如pdf等，但是一般用类似千牛的DNS静态服务来代替
	     此处与freemarker无关，仅仅是介绍freemarker在多视图解析器下order的顺序
	-->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="1" />
    </bean>
    <!-- 注册freemarker配置类 -->
    <bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!-- ftl模版文件路径  -->
        <property name="templateLoaderPath" value="/WEB-INF/view/"></property>
        <!-- 页面编码 -->
        <property name="defaultEncoding" value="utf-8" />
        <property name="freemarkerSettings">
            <props>
                <!-- 模版缓存刷新时间，不写单位默认为秒 -->
                <prop key="template_update_delay">0</prop>
                <!-- 时区 和 时间格式化 -->
                <prop key="locale">zh_CN</prop>
                <prop key="datetime_format">yyyy-MM-dd</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <!-- 数字使用.来分隔 -->
                <prop key="number_format">#.##</prop>
            </props>
        </property>
    </bean>
    <!-- 注册freemarker视图解析器 -->
    <bean id="freeMarkerViewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <!-- 视图解析顺序，排在其他视图解析器之后 数字越大优先级越低 -->
        <property name="order" value="2" />
        <!-- 开启模版缓存 -->
        <property name="cache" value="true" />
        <!-- 上面已经配了，这里就不用配啦 -->
        <property name="prefix" value="" />
        <!-- 配置文件后缀 -->
        <property name="suffix" value=".ftl" />
        <property name="contentType" value="text/html;charset=UTF-8" />
        <!-- 是否允许session属性覆盖模型数据,默认false -->
        <property name="allowSessionOverride" value="false" />
        <!-- 是否允许request属性覆盖模型数据,默认false -->
        <property name="allowRequestOverride" value="false" />
        <!-- 开启spring提供的宏帮助(macro) -->
        <property name="exposeSpringMacroHelpers" value="true" />
        <!-- 添加request attributes属性到ModelAndView中 -->
        <property name="exposeRequestAttributes" value="true" />
        <!-- 添加session attributes属性到ModelAndView中 -->
        <property name="exposeSessionAttributes" value="true" />
    </bean>

</beans>